<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>UOM_edit</title>
<style type="text/css">
	h1{
		background-color: black;
		text-align: center;
		color: white;
		padding: 0px;
		margin: 0px;
	}
</style>
</head>

<body>
	<h1>UOM edit Form</h1>
	<br>
	<form th:action="@{/uom/update}" method="POST" th:object="${uom}">
		<table bgcolor="cyan" align="center">
			<tr>
				<td>ID</td>
				<td><input type="text" th:field="*{id}" readonly/></td>
				
			</tr>
			<tr>
				<td>Type:</td>
				<td><select th:field="*{uomType}">
					<option value="">-SELECT-</option>
					<option value="PACKING">PACKING</option>
					<option value="NO PACKING">NO PACKING</option>
					<option value="NA">NA</option>
				</select></td>
				
			</tr>
			<tr>
				<td>MODEL:</td>
				<td><input type="text" th:field="*{uomModel}"/></td>
				
			</tr>
			<tr>
				<td>DESCRIPTION:</td>
				<td>
					<textarea th:field="*{description}">
					</textarea>
				</td>
			</tr>
			<tr>
				<td><input type="submit" value="update_UOM"></td>
			</tr>
		</table>
	</form>
	<span th:text="${message}"></span>
</body>
</html>